.swipeButtons {
    position: fixed;
    bottom: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.swipeButtons__repeat {
    padding: 3vw;
    color: orange !important;
}

.swipeButtons__left {
    padding: 3vw;
    color: red !important;
}

.swipeButtons__star {
    padding: 3vw;
    color: lightblue !important;
}

.swipeButtons__right {
    padding: 3vw;
    color: turquoise !important;
}

.swipeButtons__lightening {
    padding: 3vw;
    color: purple !important;
}